@model MetersHashmap
@using System.Globalization;

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Heat Map");
    const string prefix = "order-statistics";
    Html.AppendScriptParts("~/Administration/Scripts/chart-markerclusterer.js");


}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyB6XiVGCwZGXLQBblbioG9jRf6B4h_jebo"></script>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Meters Heat map

        </h1>
        <br />
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div>
                                <div id="map-container" style=" padding: 6px; border-width: 1px; border-style: solid; border-color: #ccc #ccc #999 #ccc; -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px; -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px; box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px; width: 100%;">
                                    <div id="map" style="width: 100%; height: 600px; "></div>
                                </div>
                            </div>
                            <br/>
                            <br />
                            <br />
                            <div id="customers-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function initialize() {
                var center = new google.maps.LatLng(18.5204, 73.8567);
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: center,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                var data = [
{
    "deviceId": "03f00e0a-4661-4ba9-b6d5-0524c963da6c",
    "lattitude": "18.531007",
    "longitude": "73.830409",
    "consumption": 9623,
    "reading": 962300,
    "customerName": "Aslam Shrimali",
    "customerId": 12,
    "customerAddress": "test address",
    "meterType": "1",
    "customProperties": {}
},
{
    "deviceId": "322da26e-cddd-43fb-bc38-3296ffcb6845",
    "lattitude": "18.583008",
    "longitude": "73.782570",
    "consumption": 2718,
    "reading": 271800,
    "customerName": "James Pan",
    "customerId": 4,
    "customerAddress": "test address 1",
    "meterType": "2",
    "customProperties": {}
}
                ]
                var stat = [
  {
      "deviceId": "30d2e164-eeda-4647-9ee3-6d3eea2a5cda",
      "lattitude": 17.903598,
      "longitude": 74.731697,
      "consumption": 3062,
      "reading": 254785,
      "customerName": "Janell Hartman",
      "customerId": 24,
      "customerAddress": "752 Dupont Street, Germanton, American Samoa, 4105",
      "meterType": "five"
  },
  {
      "deviceId": "5a40b979-5373-4b49-870e-35c2d23e36f4",
      "lattitude": 17.410024,
      "longitude": 73.51052,
      "consumption": 1126,
      "reading": 341673,
      "customerName": "Cox Kirkland",
      "customerId": 25,
      "customerAddress": "465 Cherry Street, Beason, Tennessee, 1292",
      "meterType": "five"
  },
  {
      "deviceId": "9b0bd53b-1c8d-408c-8c07-3258cecc333b",
      "lattitude": 17.182106,
      "longitude": 73.547397,
      "consumption": 3984,
      "reading": 230028,
      "customerName": "Mable Oneal",
      "customerId": 25,
      "customerAddress": "699 Clinton Street, Joppa, Mississippi, 5184",
      "meterType": "three"
  },
  {
      "deviceId": "067fb636-84a4-43cc-a4a9-04d2d285a76d",
      "lattitude": 17.002921,
      "longitude": 72.759762,
      "consumption": 2582,
      "reading": 208364,
      "customerName": "Lauren Drake",
      "customerId": 23,
      "customerAddress": "710 Woodhull Street, Knowlton, Hawaii, 7496",
      "meterType": "one"
  },
  {
      "deviceId": "f38fb9e7-8201-4a4e-8a93-b1e118ad2e0e",
      "lattitude": 17.526975,
      "longitude": 73.274686,
      "consumption": 1056,
      "reading": 324647,
      "customerName": "Barnes Cook",
      "customerId": 37,
      "customerAddress": "464 Veterans Avenue, Lydia, District Of Columbia, 4503",
      "meterType": "one"
  },
  {
      "deviceId": "bbfee6d3-9643-4686-95ff-3fac2420196f",
      "lattitude": 17.485153,
      "longitude": 72.887179,
      "consumption": 3992,
      "reading": 294281,
      "customerName": "White Banks",
      "customerId": 38,
      "customerAddress": "572 Cobek Court, Bedias, Texas, 2656",
      "meterType": "two"
  },
  {
      "deviceId": "4e949d72-d2f2-4f42-90bd-ad7e205adecd",
      "lattitude": 17.57252,
      "longitude": 73.672278,
      "consumption": 2756,
      "reading": 375806,
      "customerName": "Johnston Chambers",
      "customerId": 24,
      "customerAddress": "837 Grant Avenue, Fulford, Michigan, 3834",
      "meterType": "two"
  },
  {
      "deviceId": "b4737185-e609-453a-b4c1-56da7da874f0",
      "lattitude": 17.760783,
      "longitude": 72.132298,
      "consumption": 1352,
      "reading": 226816,
      "customerName": "Dianne Baker",
      "customerId": 39,
      "customerAddress": "268 Quentin Road, Lutsen, Maryland, 4192",
      "meterType": "two"
  },
  {
      "deviceId": "8564b270-37ae-4fb3-a311-b91560b709f4",
      "lattitude": 17.071156,
      "longitude": 74.623075,
      "consumption": 2561,
      "reading": 199567,
      "customerName": "Jody Jimenez",
      "customerId": 29,
      "customerAddress": "239 Leonard Street, Loretto, Marshall Islands, 5750",
      "meterType": "four"
  },
  {
      "deviceId": "54270ce6-bc91-4503-8fdf-8b34daf2974c",
      "lattitude": 17.912191,
      "longitude": 72.07881,
      "consumption": 1913,
      "reading": 170688,
      "customerName": "Taylor Estes",
      "customerId": 30,
      "customerAddress": "378 Fay Court, Lewis, Ohio, 1266",
      "meterType": "three"
  },
  {
      "deviceId": "91951ddf-94f3-400f-8f66-786a62ec2325",
      "lattitude": 17.714981,
      "longitude": 73.096349,
      "consumption": 1409,
      "reading": 178454,
      "customerName": "Chan Parrish",
      "customerId": 40,
      "customerAddress": "918 Hoyts Lane, Rossmore, Alabama, 7161",
      "meterType": "five"
  },
  {
      "deviceId": "cd7cdb68-b7f1-4aaf-8ca8-225429db829e",
      "lattitude": 17.204055,
      "longitude": 73.292189,
      "consumption": 1830,
      "reading": 136075,
      "customerName": "Maryanne Campbell",
      "customerId": 38,
      "customerAddress": "655 Stockholm Street, Fivepointville, Florida, 1719",
      "meterType": "five"
  },
  {
      "deviceId": "38fc403e-e0dc-468f-87d9-0a9219ef987e",
      "lattitude": 17.383515,
      "longitude": 73.665113,
      "consumption": 3861,
      "reading": 338692,
      "customerName": "Hattie Osborn",
      "customerId": 38,
      "customerAddress": "312 Greenwood Avenue, Hemlock, Puerto Rico, 330",
      "meterType": "two"
  },
  {
      "deviceId": "d2f9f8d2-7977-493b-89e8-6429168c662f",
      "lattitude": 17.812233,
      "longitude": 74.567341,
      "consumption": 3940,
      "reading": 366020,
      "customerName": "Crawford Rojas",
      "customerId": 21,
      "customerAddress": "736 Gatling Place, Efland, New Mexico, 2213",
      "meterType": "five"
  },
  {
      "deviceId": "ea21ba83-adfe-436f-9494-cca7b56e94cd",
      "lattitude": 17.05263,
      "longitude": 72.22036,
      "consumption": 1963,
      "reading": 229201,
      "customerName": "Dorothy Bowers",
      "customerId": 32,
      "customerAddress": "748 Sullivan Street, Driftwood, Pennsylvania, 2914",
      "meterType": "five"
  },
  {
      "deviceId": "dfc0faf8-c4c4-4336-9867-cb890922c0f5",
      "lattitude": 17.036965,
      "longitude": 73.427406,
      "consumption": 3082,
      "reading": 318667,
      "customerName": "Lois Lewis",
      "customerId": 38,
      "customerAddress": "763 Nostrand Avenue, Wolcott, New Jersey, 8285",
      "meterType": "five"
  },
  {
      "deviceId": "a756c584-68e8-4715-9a98-48525cffdefe",
      "lattitude": 17.686562,
      "longitude": 74.636963,
      "consumption": 3514,
      "reading": 181563,
      "customerName": "Moss Noel",
      "customerId": 26,
      "customerAddress": "967 Oriental Court, Davenport, New Hampshire, 6558",
      "meterType": "three"
  },
  {
      "deviceId": "ace74584-c422-418c-aef9-93af117986d2",
      "lattitude": 17.89251,
      "longitude": 72.262829,
      "consumption": 1103,
      "reading": 264290,
      "customerName": "Leblanc Cardenas",
      "customerId": 34,
      "customerAddress": "365 Congress Street, Dubois, Louisiana, 729",
      "meterType": "two"
  },
  {
      "deviceId": "4f7d1c54-ebbd-44cd-8160-d530db62905b",
      "lattitude": 17.193302,
      "longitude": 74.399753,
      "consumption": 3204,
      "reading": 283256,
      "customerName": "Michael Hanson",
      "customerId": 33,
      "customerAddress": "197 Lenox Road, Masthope, Rhode Island, 9798",
      "meterType": "four"
  },
  {
      "deviceId": "a443f437-a0a2-4429-8492-0ed39cd10b65",
      "lattitude": 17.388263,
      "longitude": 73.361332,
      "consumption": 2492,
      "reading": 350451,
      "customerName": "Kathleen Huffman",
      "customerId": 31,
      "customerAddress": "166 Tapscott Street, Cochranville, Alaska, 5069",
      "meterType": "five"
  },
  {
      "deviceId": "bc9a46af-31f8-494d-821a-be10ebb0b9f1",
      "lattitude": 17.200425,
      "longitude": 73.900355,
      "consumption": 1604,
      "reading": 328894,
      "customerName": "Jodi Harding",
      "customerId": 33,
      "customerAddress": "378 Hendrickson Street, Somerset, Delaware, 2442",
      "meterType": "five"
  },
  {
      "deviceId": "3ffe8793-8395-4db9-bb73-4db3ca7922bb",
      "lattitude": 17.924658,
      "longitude": 74.116804,
      "consumption": 2555,
      "reading": 337936,
      "customerName": "Rosella Glover",
      "customerId": 25,
      "customerAddress": "324 Thomas Street, Ellerslie, West Virginia, 9291",
      "meterType": "three"
  },
  {
      "deviceId": "9ad965ce-5f08-43d4-9817-849fd8f5a9e1",
      "lattitude": 17.203902,
      "longitude": 73.253013,
      "consumption": 1233,
      "reading": 314997,
      "customerName": "Gloria Holland",
      "customerId": 27,
      "customerAddress": "844 Eaton Court, Morningside, California, 5127",
      "meterType": "one"
  },
  {
      "deviceId": "73cf4479-afed-4822-897a-f589f1754933",
      "lattitude": 17.702404,
      "longitude": 73.56991,
      "consumption": 3823,
      "reading": 206313,
      "customerName": "Marie Steele",
      "customerId": 31,
      "customerAddress": "801 Hyman Court, Harrodsburg, New York, 4796",
      "meterType": "five"
  },
  {
      "deviceId": "83ee7542-8d61-4bc9-aafc-afd93e44bedf",
      "lattitude": 17.598054,
      "longitude": 73.392233,
      "consumption": 1987,
      "reading": 248707,
      "customerName": "Sosa Melendez",
      "customerId": 38,
      "customerAddress": "728 Burnett Street, Norwood, Kentucky, 9113",
      "meterType": "four"
  },
  {
      "deviceId": "d14aeaa4-256f-4b07-8fec-35ce992b19b8",
      "lattitude": 17.290942,
      "longitude": 72.739289,
      "consumption": 3055,
      "reading": 230607,
      "customerName": "Ivy Maddox",
      "customerId": 25,
      "customerAddress": "822 Tapscott Avenue, Richmond, Kansas, 493",
      "meterType": "four"
  },
  {
      "deviceId": "366c2b2f-fe1e-464a-b24f-96037b712951",
      "lattitude": 17.603333,
      "longitude": 72.152509,
      "consumption": 1975,
      "reading": 141365,
      "customerName": "Barrera Norman",
      "customerId": 29,
      "customerAddress": "701 Seeley Street, Brazos, Maine, 4396",
      "meterType": "three"
  },
  {
      "deviceId": "796b1225-b9cd-4bc0-97e3-ace465dda98c",
      "lattitude": 17.983168,
      "longitude": 74.558885,
      "consumption": 3041,
      "reading": 368467,
      "customerName": "Yates Nieves",
      "customerId": 25,
      "customerAddress": "277 Brooklyn Road, Goochland, Minnesota, 3624",
      "meterType": "two"
  },
  {
      "deviceId": "4a22170c-93d7-42dd-a3a9-e38777fbf648",
      "lattitude": 17.995887,
      "longitude": 73.611277,
      "consumption": 1274,
      "reading": 382722,
      "customerName": "Duncan Carpenter",
      "customerId": 30,
      "customerAddress": "226 Madison Street, Layhill, Northern Mariana Islands, 2356",
      "meterType": "two"
  },
  {
      "deviceId": "ce4e768d-746a-49b4-a481-3a75d10d70d1",
      "lattitude": 17.801607,
      "longitude": 72.476818,
      "consumption": 3757,
      "reading": 327835,
      "customerName": "Colleen Cooley",
      "customerId": 21,
      "customerAddress": "764 Ellery Street, Cobbtown, Washington, 4530",
      "meterType": "two"
  },
  {
      "deviceId": "de8581b5-5cd7-4aa9-845e-3d9430785fcf",
      "lattitude": 17.344043,
      "longitude": 73.867454,
      "consumption": 2553,
      "reading": 155860,
      "customerName": "Hammond Solis",
      "customerId": 34,
      "customerAddress": "233 Bulwer Place, Calpine, Arkansas, 9260",
      "meterType": "four"
  },
  {
      "deviceId": "79355117-0581-432f-8d93-dbf00bbf6cbe",
      "lattitude": 17.932898,
      "longitude": 72.733192,
      "consumption": 2435,
      "reading": 118841,
      "customerName": "Joyce Knight",
      "customerId": 31,
      "customerAddress": "121 Union Avenue, Nelson, Vermont, 5810",
      "meterType": "five"
  },
  {
      "deviceId": "3cdfbc0e-7ac9-4d54-b94a-9131e942c27f",
      "lattitude": 17.304986,
      "longitude": 72.493892,
      "consumption": 2053,
      "reading": 316538,
      "customerName": "Huff Rowland",
      "customerId": 30,
      "customerAddress": "396 Vernon Avenue, Shindler, Illinois, 5117",
      "meterType": "two"
  },
  {
      "deviceId": "0aabde31-e3f7-448b-b00b-23acb61e88bb",
      "lattitude": 17.148538,
      "longitude": 73.831545,
      "consumption": 2141,
      "reading": 358288,
      "customerName": "Nunez Travis",
      "customerId": 37,
      "customerAddress": "264 Church Lane, Kilbourne, Arizona, 3577",
      "meterType": "one"
  },
  {
      "deviceId": "56294e74-3560-4b4f-84e4-d2a83b882d6e",
      "lattitude": 17.386354,
      "longitude": 74.366876,
      "consumption": 1037,
      "reading": 217187,
      "customerName": "Adrian Spencer",
      "customerId": 20,
      "customerAddress": "298 Vanderveer Street, Jenkinsville, Oregon, 2465",
      "meterType": "two"
  },
  {
      "deviceId": "f9163c39-8a5d-4d80-aafe-a83f5331e7f4",
      "lattitude": 17.127016,
      "longitude": 73.689833,
      "consumption": 1923,
      "reading": 332014,
      "customerName": "Olga Randolph",
      "customerId": 22,
      "customerAddress": "837 Ridgewood Avenue, Orin, South Dakota, 9960",
      "meterType": "five"
  },
  {
      "deviceId": "ac7260db-ebb2-4f12-a990-e2b295c39bbb",
      "lattitude": 17.529423,
      "longitude": 73.666445,
      "consumption": 3538,
      "reading": 137619,
      "customerName": "Robin Case",
      "customerId": 26,
      "customerAddress": "472 Bedford Place, Martinez, South Carolina, 9631",
      "meterType": "three"
  },
  {
      "deviceId": "c7d81ef6-a98f-4ac7-97c5-b06268987d11",
      "lattitude": 17.435477,
      "longitude": 73.882953,
      "consumption": 3462,
      "reading": 168389,
      "customerName": "Molly Bonner",
      "customerId": 27,
      "customerAddress": "673 Grand Street, Tolu, Federated States Of Micronesia, 282",
      "meterType": "three"
  },
  {
      "deviceId": "d51daf27-c1d1-4311-8764-5a96ce6442f6",
      "lattitude": 17.076701,
      "longitude": 73.935961,
      "consumption": 2277,
      "reading": 231632,
      "customerName": "Melinda Owen",
      "customerId": 30,
      "customerAddress": "238 Irving Street, Lisco, Missouri, 1070",
      "meterType": "one"
  },
  {
      "deviceId": "2a760bc4-c630-48b1-9039-791b9aad1fc0",
      "lattitude": 17.683217,
      "longitude": 74.514148,
      "consumption": 1237,
      "reading": 124490,
      "customerName": "Todd Bailey",
      "customerId": 31,
      "customerAddress": "932 Brigham Street, Wanamie, Oklahoma, 1270",
      "meterType": "one"
  },
  {
      "deviceId": "bf4785ce-0261-4704-9c63-70be07fa5aea",
      "lattitude": 17.559811,
      "longitude": 74.020866,
      "consumption": 1323,
      "reading": 140969,
      "customerName": "Nola Gay",
      "customerId": 29,
      "customerAddress": "848 Barlow Drive, Hartsville/Hartley, Connecticut, 6695",
      "meterType": "one"
  },
  {
      "deviceId": "7c2bbe8c-ed53-4aab-a64e-561e8bd84b92",
      "lattitude": 17.979259,
      "longitude": 72.480936,
      "consumption": 2315,
      "reading": 114491,
      "customerName": "Elisabeth Roberson",
      "customerId": 31,
      "customerAddress": "566 Beach Place, Montura, Nevada, 5640",
      "meterType": "three"
  },
  {
      "deviceId": "1c0b51d8-a779-4f16-b690-751753393ef9",
      "lattitude": 17.608052,
      "longitude": 72.542292,
      "consumption": 1091,
      "reading": 275675,
      "customerName": "Mae Bridges",
      "customerId": 31,
      "customerAddress": "440 Colonial Court, Tampico, Palau, 8974",
      "meterType": "one"
  },
  {
      "deviceId": "c435c552-77fb-4fa4-9674-c372488a8224",
      "lattitude": 17.013576,
      "longitude": 73.308211,
      "consumption": 3219,
      "reading": 366916,
      "customerName": "Dana Parker",
      "customerId": 35,
      "customerAddress": "881 Harway Avenue, Camas, Virginia, 5392",
      "meterType": "four"
  },
  {
      "deviceId": "9900bda2-d5dd-4c83-a6bd-4af7e4550f4b",
      "lattitude": 17.252549,
      "longitude": 72.591567,
      "consumption": 2635,
      "reading": 334663,
      "customerName": "Huffman Trujillo",
      "customerId": 33,
      "customerAddress": "956 Broadway , Brambleton, North Carolina, 7864",
      "meterType": "three"
  },
  {
      "deviceId": "06595cf5-5227-4f82-8ecd-4fb71bdfe5e7",
      "lattitude": 17.327245,
      "longitude": 74.691384,
      "consumption": 1109,
      "reading": 317138,
      "customerName": "Grant Cooke",
      "customerId": 31,
      "customerAddress": "611 Lake Street, Venice, Guam, 7936",
      "meterType": "two"
  },
  {
      "deviceId": "622bd9bd-7672-443c-9d3a-e9b3e377c9c6",
      "lattitude": 17.895824,
      "longitude": 73.093811,
      "consumption": 1651,
      "reading": 274599,
      "customerName": "Elisa Buckley",
      "customerId": 30,
      "customerAddress": "129 Melrose Street, Lemoyne, Montana, 1059",
      "meterType": "four"
  },
  {
      "deviceId": "51064711-bc72-41af-bd55-7844a7d192dd",
      "lattitude": 17.274221,
      "longitude": 74.768021,
      "consumption": 2706,
      "reading": 136371,
      "customerName": "Ina Mills",
      "customerId": 32,
      "customerAddress": "400 Louis Place, Lupton, Massachusetts, 3576",
      "meterType": "two"
  },
  {
      "deviceId": "a1a6fbf5-862a-4e75-9079-ee7e34a7adde",
      "lattitude": 17.463,
      "longitude": 72.628696,
      "consumption": 3087,
      "reading": 330632,
      "customerName": "Knight Green",
      "customerId": 40,
      "customerAddress": "180 Ferry Place, Snyderville, Georgia, 1846",
      "meterType": "four"
  },
  {
      "deviceId": "4f64d1dd-5fa6-40bd-8b43-77ef9551f36d",
      "lattitude": 17.414671,
      "longitude": 72.777494,
      "consumption": 3410,
      "reading": 215672,
      "customerName": "Nieves Larson",
      "customerId": 38,
      "customerAddress": "653 Chestnut Street, Woodlake, Virgin Islands, 6216",
      "meterType": "two"
  },
  {
      "deviceId": "22ae2f9e-6173-4c3f-96d8-9658c7dc2974",
      "lattitude": 17.52182,
      "longitude": 72.841742,
      "consumption": 2595,
      "reading": 318107,
      "customerName": "Zamora Acosta",
      "customerId": 30,
      "customerAddress": "198 Taaffe Place, Trona, Wyoming, 8476",
      "meterType": "five"
  },
  {
      "deviceId": "07085c2b-b63c-4f05-b120-2244dde92b0f",
      "lattitude": 17.863835,
      "longitude": 73.985482,
      "consumption": 2025,
      "reading": 287213,
      "customerName": "Candace Joyner",
      "customerId": 39,
      "customerAddress": "997 Bokee Court, Linganore, North Dakota, 5749",
      "meterType": "two"
  },
  {
      "deviceId": "fb20fef1-04ef-4afd-8942-82b40313afcd",
      "lattitude": 17.422786,
      "longitude": 74.414453,
      "consumption": 2648,
      "reading": 153283,
      "customerName": "Herrera Booth",
      "customerId": 28,
      "customerAddress": "579 Whitty Lane, Mansfield, Iowa, 6495",
      "meterType": "three"
  },
  {
      "deviceId": "baca4e4a-a140-424c-af08-54a75d22c1b4",
      "lattitude": 17.716396,
      "longitude": 72.985545,
      "consumption": 3673,
      "reading": 383731,
      "customerName": "Lucile Harris",
      "customerId": 35,
      "customerAddress": "309 Hale Avenue, Hannasville, Utah, 9722",
      "meterType": "two"
  },
  {
      "deviceId": "693723c9-d25b-4bae-8eea-151a5a62b2d2",
      "lattitude": 17.763914,
      "longitude": 74.401823,
      "consumption": 1358,
      "reading": 302359,
      "customerName": "Shepherd Carr",
      "customerId": 27,
      "customerAddress": "719 Conover Street, Emison, Indiana, 2982",
      "meterType": "two"
  },
  {
      "deviceId": "630b5c67-1fc8-47de-b10a-a7baa8b87d8a",
      "lattitude": 17.234744,
      "longitude": 73.694855,
      "consumption": 3113,
      "reading": 395333,
      "customerName": "Burris Morris",
      "customerId": 21,
      "customerAddress": "683 Hewes Street, Westwood, Wisconsin, 3909",
      "meterType": "five"
  },
  {
      "deviceId": "1628ebcf-6a5e-4a62-b20a-8e2973a5a41c",
      "lattitude": 17.577732,
      "longitude": 74.017366,
      "consumption": 2524,
      "reading": 305394,
      "customerName": "Hogan Mckay",
      "customerId": 36,
      "customerAddress": "218 Reeve Place, Starks, Idaho, 2668",
      "meterType": "one"
  },
  {
      "deviceId": "3aad81d4-3289-40a7-b457-9cbff578a460",
      "lattitude": 17.178804,
      "longitude": 73.209818,
      "consumption": 1308,
      "reading": 281484,
      "customerName": "Beck Hatfield",
      "customerId": 27,
      "customerAddress": "507 Autumn Avenue, Jamestown, Colorado, 752",
      "meterType": "four"
  },
  {
      "deviceId": "9d2d52a9-a16b-411b-aa4d-4211b72a7c4e",
      "lattitude": 17.627339,
      "longitude": 73.218306,
      "consumption": 3163,
      "reading": 120886,
      "customerName": "Bridgette Hahn",
      "customerId": 28,
      "customerAddress": "795 Louisiana Avenue, Sabillasville, American Samoa, 7774",
      "meterType": "five"
  },
  {
      "deviceId": "d460868d-373b-4f20-9b3f-bffbcf584220",
      "lattitude": 17.410643,
      "longitude": 72.992905,
      "consumption": 3636,
      "reading": 198408,
      "customerName": "Guthrie Richard",
      "customerId": 23,
      "customerAddress": "180 Alabama Avenue, Allentown, Tennessee, 526",
      "meterType": "one"
  },
  {
      "deviceId": "10ae6174-fa70-4e62-9a57-990ab1b3e733",
      "lattitude": 17.111111,
      "longitude": 73.150116,
      "consumption": 1228,
      "reading": 246196,
      "customerName": "Clarice Dean",
      "customerId": 35,
      "customerAddress": "995 Mill Road, Macdona, Mississippi, 8697",
      "meterType": "five"
  },
  {
      "deviceId": "fa0e6d38-9013-40a6-80bb-f2e768e97774",
      "lattitude": 17.903371,
      "longitude": 72.658367,
      "consumption": 2059,
      "reading": 182155,
      "customerName": "Lawson Chan",
      "customerId": 39,
      "customerAddress": "526 Hancock Street, Brandermill, Hawaii, 1222",
      "meterType": "one"
  },
  {
      "deviceId": "47939219-04aa-4ea6-a267-c6b53bb1ecea",
      "lattitude": 17.427872,
      "longitude": 74.280664,
      "consumption": 3775,
      "reading": 350419,
      "customerName": "Diann Roth",
      "customerId": 40,
      "customerAddress": "949 Franklin Street, Rosedale, District Of Columbia, 6410",
      "meterType": "five"
  },
  {
      "deviceId": "8754e04a-da15-4189-a570-b4a3da996e7a",
      "lattitude": 17.286108,
      "longitude": 74.400166,
      "consumption": 1786,
      "reading": 179384,
      "customerName": "Fern Miles",
      "customerId": 32,
      "customerAddress": "458 Seabring Street, Fedora, Texas, 5078",
      "meterType": "five"
  },
  {
      "deviceId": "adfdf4d7-d76a-40e0-a922-6d4135828bc5",
      "lattitude": 17.735523,
      "longitude": 73.004655,
      "consumption": 2836,
      "reading": 260980,
      "customerName": "Mcknight Juarez",
      "customerId": 31,
      "customerAddress": "556 Portal Street, Blandburg, Michigan, 9252",
      "meterType": "two"
  },
  {
      "deviceId": "37d27868-96e3-4d16-b3f8-e8ed93d9b797",
      "lattitude": 17.575787,
      "longitude": 72.12347,
      "consumption": 1333,
      "reading": 108299,
      "customerName": "Betty Levine",
      "customerId": 36,
      "customerAddress": "627 Rockaway Avenue, Bartley, Maryland, 3645",
      "meterType": "two"
  },
  {
      "deviceId": "027dfce7-4372-4bb3-ac50-95c93e1d8091",
      "lattitude": 17.555539,
      "longitude": 72.644441,
      "consumption": 1054,
      "reading": 242156,
      "customerName": "Eloise Obrien",
      "customerId": 25,
      "customerAddress": "368 Meserole Avenue, Williamson, Marshall Islands, 3465",
      "meterType": "four"
  },
  {
      "deviceId": "3eaec629-b93b-4059-901b-c09ee1e94d88",
      "lattitude": 17.104482,
      "longitude": 73.431403,
      "consumption": 3427,
      "reading": 173292,
      "customerName": "Baker Casey",
      "customerId": 31,
      "customerAddress": "386 Luquer Street, Osage, Ohio, 1027",
      "meterType": "five"
  },
  {
      "deviceId": "b2f17318-af5f-41c7-883a-1eaa888077e8",
      "lattitude": 17.252356,
      "longitude": 73.418438,
      "consumption": 3167,
      "reading": 365631,
      "customerName": "Rosa Dickson",
      "customerId": 31,
      "customerAddress": "315 Krier Place, Nipinnawasee, Alabama, 3080",
      "meterType": "five"
  },
  {
      "deviceId": "bddc7739-8ae3-4c8a-8298-04fc5087f70b",
      "lattitude": 17.216247,
      "longitude": 74.149874,
      "consumption": 3982,
      "reading": 337120,
      "customerName": "Sally Roy",
      "customerId": 34,
      "customerAddress": "109 Strickland Avenue, Dragoon, Florida, 8495",
      "meterType": "four"
  },
  {
      "deviceId": "0419ed80-62e3-442d-b573-5c1a6da6ec0e",
      "lattitude": 17.832935,
      "longitude": 73.244731,
      "consumption": 2705,
      "reading": 283415,
      "customerName": "Lynn Wynn",
      "customerId": 33,
      "customerAddress": "488 Manhattan Avenue, Grazierville, Puerto Rico, 6224",
      "meterType": "four"
  },
  {
      "deviceId": "0a0fde33-5209-442f-ba89-0e8f5232c5f4",
      "lattitude": 17.910054,
      "longitude": 72.773063,
      "consumption": 1496,
      "reading": 175555,
      "customerName": "Maribel Lindsey",
      "customerId": 33,
      "customerAddress": "194 Front Street, Bonanza, New Mexico, 679",
      "meterType": "five"
  },
  {
      "deviceId": "27b70560-84ad-4843-a566-63579a124d96",
      "lattitude": 17.474574,
      "longitude": 73.778405,
      "consumption": 3528,
      "reading": 199495,
      "customerName": "Bridges Horn",
      "customerId": 25,
      "customerAddress": "101 Elton Street, Sparkill, Pennsylvania, 6446",
      "meterType": "four"
  },
  {
      "deviceId": "a2c9dd98-f2d1-4d0f-8337-1595f0634614",
      "lattitude": 17.438631,
      "longitude": 72.81026,
      "consumption": 3481,
      "reading": 195376,
      "customerName": "Elliott Saunders",
      "customerId": 40,
      "customerAddress": "512 Granite Street, Utting, New Jersey, 7752",
      "meterType": "one"
  },
  {
      "deviceId": "236c58bd-ebbe-460e-b52b-34d2cee2652a",
      "lattitude": 17.179471,
      "longitude": 74.142829,
      "consumption": 1059,
      "reading": 361714,
      "customerName": "Haley Rhodes",
      "customerId": 24,
      "customerAddress": "969 Temple Court, Remington, New Hampshire, 8368",
      "meterType": "one"
  },
  {
      "deviceId": "2a7ba3e0-73e3-4dd4-b045-7cdc7f2cc156",
      "lattitude": 17.24349,
      "longitude": 72.617536,
      "consumption": 1841,
      "reading": 100306,
      "customerName": "Louella Battle",
      "customerId": 22,
      "customerAddress": "347 Evans Street, Hinsdale, Louisiana, 212",
      "meterType": "one"
  },
  {
      "deviceId": "f64c01c5-1f05-4fd0-97ca-8e84fe37d7ab",
      "lattitude": 17.334534,
      "longitude": 72.280789,
      "consumption": 2138,
      "reading": 363933,
      "customerName": "Gwendolyn Goff",
      "customerId": 40,
      "customerAddress": "825 Linden Street, Summertown, Rhode Island, 6936",
      "meterType": "two"
  },
  {
      "deviceId": "be6dfcb7-0979-45bd-bebf-c180cb735253",
      "lattitude": 17.887066,
      "longitude": 74.023076,
      "consumption": 1398,
      "reading": 239074,
      "customerName": "Enid Meadows",
      "customerId": 22,
      "customerAddress": "914 Saratoga Avenue, Nord, Alaska, 7207",
      "meterType": "five"
  },
  {
      "deviceId": "dc25d6b3-3f0a-4cda-81e6-2a0dfe1bded6",
      "lattitude": 17.488262,
      "longitude": 74.80239,
      "consumption": 1327,
      "reading": 383131,
      "customerName": "Sherry Bell",
      "customerId": 21,
      "customerAddress": "106 Aurelia Court, Spokane, Delaware, 6731",
      "meterType": "three"
  },
  {
      "deviceId": "b59c8a87-27e1-4978-8cf5-6716453917ee",
      "lattitude": 17.868288,
      "longitude": 74.79135,
      "consumption": 1730,
      "reading": 326103,
      "customerName": "Marina Shaw",
      "customerId": 25,
      "customerAddress": "895 Sedgwick Street, Garfield, West Virginia, 5000",
      "meterType": "two"
  },
  {
      "deviceId": "8718b6ec-69dd-4d7a-af9f-17080f43f510",
      "lattitude": 17.109127,
      "longitude": 72.723982,
      "consumption": 2621,
      "reading": 354763,
      "customerName": "Trisha Ware",
      "customerId": 30,
      "customerAddress": "120 Royce Place, Cotopaxi, California, 4266",
      "meterType": "three"
  },
  {
      "deviceId": "3412d586-de9f-4fe3-843b-b0afb837a4d6",
      "lattitude": 17.076341,
      "longitude": 74.302103,
      "consumption": 3991,
      "reading": 377600,
      "customerName": "Pollard Hopkins",
      "customerId": 36,
      "customerAddress": "652 Cumberland Street, Hiwasse, New York, 5852",
      "meterType": "one"
  },
  {
      "deviceId": "60923aaf-d8ee-40ec-943e-a9e68802a765",
      "lattitude": 17.165921,
      "longitude": 72.930771,
      "consumption": 3617,
      "reading": 326187,
      "customerName": "Kayla Prince",
      "customerId": 38,
      "customerAddress": "256 Greenpoint Avenue, Gasquet, Kentucky, 6442",
      "meterType": "three"
  },
  {
      "deviceId": "1982863e-c716-42a6-8687-d94c37efa958",
      "lattitude": 17.661284,
      "longitude": 72.223061,
      "consumption": 1689,
      "reading": 156642,
      "customerName": "Leta Vargas",
      "customerId": 36,
      "customerAddress": "904 Harden Street, Ruffin, Kansas, 9524",
      "meterType": "two"
  },
  {
      "deviceId": "c0720a3e-6ff6-444a-a24b-d4e5d2fa514a",
      "lattitude": 17.244133,
      "longitude": 72.766724,
      "consumption": 3954,
      "reading": 159928,
      "customerName": "Henson Aguilar",
      "customerId": 37,
      "customerAddress": "446 Aviation Road, Kylertown, Maine, 162",
      "meterType": "three"
  },
  {
      "deviceId": "40bfaddd-71b1-4a91-b9e4-876c75e7dd36",
      "lattitude": 17.862921,
      "longitude": 73.748036,
      "consumption": 1074,
      "reading": 317064,
      "customerName": "Christine Le",
      "customerId": 31,
      "customerAddress": "198 Vanderbilt Street, Selma, Minnesota, 8056",
      "meterType": "two"
  },
  {
      "deviceId": "3fb74c03-1794-44c7-a2a0-584d61421a2c",
      "lattitude": 17.997009,
      "longitude": 72.473807,
      "consumption": 2678,
      "reading": 294569,
      "customerName": "Griffith Woods",
      "customerId": 32,
      "customerAddress": "987 Cadman Plaza, Callaghan, Northern Mariana Islands, 7985",
      "meterType": "five"
  },
  {
      "deviceId": "60b9ceb4-7e32-4ca9-9550-199a84704ff1",
      "lattitude": 17.039696,
      "longitude": 73.050432,
      "consumption": 3739,
      "reading": 227420,
      "customerName": "Allie Durham",
      "customerId": 24,
      "customerAddress": "635 Chester Court, Rivereno, Washington, 1071",
      "meterType": "one"
  },
  {
      "deviceId": "7e11ac6f-166b-4dae-b407-ce37c10603db",
      "lattitude": 17.013317,
      "longitude": 74.137446,
      "consumption": 2848,
      "reading": 245901,
      "customerName": "Cross Zamora",
      "customerId": 34,
      "customerAddress": "540 Albemarle Road, Jacksonburg, Arkansas, 2956",
      "meterType": "one"
  },
  {
      "deviceId": "a33ed50e-9b90-4f8d-9b74-dd9a5c2ccc53",
      "lattitude": 17.81039,
      "longitude": 74.923831,
      "consumption": 2542,
      "reading": 195987,
      "customerName": "Charmaine Gilmore",
      "customerId": 34,
      "customerAddress": "416 Clermont Avenue, Dunnavant, Vermont, 6217",
      "meterType": "five"
  },
  {
      "deviceId": "26161e1a-cca2-44bc-9fa9-652001ad00c7",
      "lattitude": 17.359398,
      "longitude": 73.562943,
      "consumption": 1649,
      "reading": 343021,
      "customerName": "Tyson Brooks",
      "customerId": 36,
      "customerAddress": "998 Coffey Street, Floris, Illinois, 9957",
      "meterType": "one"
  },
  {
      "deviceId": "4509e54a-7e2d-467c-bca0-eb8e9593e3e8",
      "lattitude": 17.321075,
      "longitude": 74.289119,
      "consumption": 2854,
      "reading": 344871,
      "customerName": "Stella Savage",
      "customerId": 34,
      "customerAddress": "418 Adelphi Street, Saddlebrooke, Arizona, 8988",
      "meterType": "four"
  },
  {
      "deviceId": "4c5f4c0f-3e01-4bb8-a11a-4340db10175d",
      "lattitude": 17.692873,
      "longitude": 74.782239,
      "consumption": 1393,
      "reading": 237532,
      "customerName": "Ester Foreman",
      "customerId": 40,
      "customerAddress": "808 Hart Place, Brethren, Oregon, 9236",
      "meterType": "three"
  },
  {
      "deviceId": "3a5609a3-c83d-4f6e-95e4-eca00f1234a6",
      "lattitude": 17.90979,
      "longitude": 72.308693,
      "consumption": 1972,
      "reading": 106922,
      "customerName": "Carly Wise",
      "customerId": 35,
      "customerAddress": "426 Hutchinson Court, Dixonville, South Dakota, 9222",
      "meterType": "five"
  },
  {
      "deviceId": "a068c941-80cd-41d2-8820-2c7328d1dace",
      "lattitude": 17.084127,
      "longitude": 72.992587,
      "consumption": 2957,
      "reading": 131964,
      "customerName": "Deana Hicks",
      "customerId": 37,
      "customerAddress": "524 Keap Street, Stewart, South Carolina, 1829",
      "meterType": "five"
  },
  {
      "deviceId": "2023bc27-24f0-40e5-88fd-48272ffb00a4",
      "lattitude": 17.64511,
      "longitude": 74.348146,
      "consumption": 2840,
      "reading": 387569,
      "customerName": "Bowers Dyer",
      "customerId": 37,
      "customerAddress": "907 Farragut Road, Trexlertown, Federated States Of Micronesia, 1317",
      "meterType": "four"
  },
  {
      "deviceId": "b965178c-113e-4800-bb11-038ef356c405",
      "lattitude": 17.342163,
      "longitude": 72.582386,
      "consumption": 2371,
      "reading": 244024,
      "customerName": "Melisa Reed",
      "customerId": 26,
      "customerAddress": "684 Amersfort Place, Greenock, Missouri, 8521",
      "meterType": "four"
  },
  {
      "deviceId": "2704a0f1-1e9d-4929-a743-e3b9a2902dbf",
      "lattitude": 17.981866,
      "longitude": 74.646318,
      "consumption": 1401,
      "reading": 290627,
      "customerName": "Roseann Stokes",
      "customerId": 26,
      "customerAddress": "432 Wyona Street, Hampstead, Oklahoma, 9061",
      "meterType": "five"
  },
  {
      "deviceId": "62671404-6af3-4292-9b72-8e93a63886ce",
      "lattitude": 17.353374,
      "longitude": 72.691166,
      "consumption": 3172,
      "reading": 366160,
      "customerName": "Contreras Mcgee",
      "customerId": 34,
      "customerAddress": "429 Beayer Place, Grimsley, Connecticut, 1256",
      "meterType": "two"
  },
  {
      "deviceId": "67cc7402-a729-46fb-bd5b-6fd9bda4d172",
      "lattitude": 17.856077,
      "longitude": 72.031204,
      "consumption": 1275,
      "reading": 184195,
      "customerName": "Gladys Skinner",
      "customerId": 32,
      "customerAddress": "175 Beverly Road, Belvoir, Nevada, 8851",
      "meterType": "four"
  },
  {
      "deviceId": "c3d94c2b-150f-4a83-8e5f-9be126126d83",
      "lattitude": 17.576568,
      "longitude": 72.767352,
      "consumption": 3513,
      "reading": 320809,
      "customerName": "Jana Newman",
      "customerId": 23,
      "customerAddress": "611 Covert Street, Linwood, Palau, 5945",
      "meterType": "three"
  },
  {
      "deviceId": "e886270f-488c-40e7-adc0-788886501f51",
      "lattitude": 17.136701,
      "longitude": 74.088134,
      "consumption": 2007,
      "reading": 120133,
      "customerName": "Gallegos Whitfield",
      "customerId": 25,
      "customerAddress": "559 Bayview Avenue, Deercroft, Virginia, 4963",
      "meterType": "four"
  },
  {
      "deviceId": "54e2167d-ff55-4b3e-a384-a111e0671ab3",
      "lattitude": 17.128972,
      "longitude": 74.324642,
      "consumption": 1355,
      "reading": 277080,
      "customerName": "Dyer Cooper",
      "customerId": 37,
      "customerAddress": "292 Seagate Terrace, Graball, North Carolina, 1092",
      "meterType": "one"
  },
  {
      "deviceId": "19b954af-a995-44f0-a37f-e4aa4911cae3",
      "lattitude": 17.246816,
      "longitude": 72.439274,
      "consumption": 2184,
      "reading": 186389,
      "customerName": "Tonia Mullins",
      "customerId": 22,
      "customerAddress": "441 Harbor Court, Enetai, Guam, 6751",
      "meterType": "five"
  },
  {
      "deviceId": "e0b137a1-6299-4e84-92b7-e36e74f6a0e3",
      "lattitude": 17.804848,
      "longitude": 73.058206,
      "consumption": 2225,
      "reading": 133820,
      "customerName": "Thornton Hewitt",
      "customerId": 21,
      "customerAddress": "321 Cooper Street, Albrightsville, Montana, 6011",
      "meterType": "one"
  },
  {
      "deviceId": "fd37f22c-21d8-4b66-af4a-a8a708d9fb5f",
      "lattitude": 17.353734,
      "longitude": 73.334215,
      "consumption": 1704,
      "reading": 156386,
      "customerName": "Lottie Lambert",
      "customerId": 27,
      "customerAddress": "220 Oceanic Avenue, Byrnedale, Massachusetts, 5774",
      "meterType": "five"
  },
  {
      "deviceId": "8d9cc57c-8e89-4ce5-a3ee-1c0ee86c98fc",
      "lattitude": 17.650848,
      "longitude": 74.172032,
      "consumption": 2932,
      "reading": 335985,
      "customerName": "Leona Head",
      "customerId": 40,
      "customerAddress": "771 Ridge Court, Harold, Georgia, 8235",
      "meterType": "five"
  },
  {
      "deviceId": "0506359e-37ce-466b-a4bd-961094d1e8cb",
      "lattitude": 17.679926,
      "longitude": 74.754565,
      "consumption": 1857,
      "reading": 333546,
      "customerName": "Velez Wheeler",
      "customerId": 23,
      "customerAddress": "678 Malbone Street, Tryon, Virgin Islands, 6408",
      "meterType": "five"
  },
  {
      "deviceId": "a92dab02-1c73-4c95-a0c5-12beab2d8689",
      "lattitude": 17.668824,
      "longitude": 74.880856,
      "consumption": 3934,
      "reading": 262877,
      "customerName": "Erika Mullen",
      "customerId": 22,
      "customerAddress": "534 Lamont Court, Eastvale, Wyoming, 7923",
      "meterType": "two"
  },
  {
      "deviceId": "ae88e7c5-fd1b-4796-90b9-cbfd3df3ec9b",
      "lattitude": 17.431906,
      "longitude": 73.279229,
      "consumption": 3863,
      "reading": 303234,
      "customerName": "Montgomery Wood",
      "customerId": 29,
      "customerAddress": "786 Clove Road, Adelino, North Dakota, 1312",
      "meterType": "two"
  },
  {
      "deviceId": "8bc3203c-f73a-4a4a-a631-22cc350ce4ee",
      "lattitude": 17.273242,
      "longitude": 72.535536,
      "consumption": 3912,
      "reading": 325124,
      "customerName": "Shelton Richmond",
      "customerId": 21,
      "customerAddress": "811 Suydam Place, Glenbrook, Iowa, 8014",
      "meterType": "four"
  },
  {
      "deviceId": "1d0feddf-b22a-46c4-a323-4ceb9033167d",
      "lattitude": 17.122203,
      "longitude": 74.74544,
      "consumption": 3472,
      "reading": 141838,
      "customerName": "Alicia Beck",
      "customerId": 39,
      "customerAddress": "180 Loring Avenue, Edenburg, Utah, 5038",
      "meterType": "three"
  },
  {
      "deviceId": "23846a0a-f243-4dfc-8845-adec0b91781e",
      "lattitude": 17.064345,
      "longitude": 73.435954,
      "consumption": 2880,
      "reading": 119432,
      "customerName": "Carmella Neal",
      "customerId": 22,
      "customerAddress": "904 Ebony Court, Hilltop, Indiana, 3451",
      "meterType": "one"
  },
  {
      "deviceId": "bd0a21e8-d693-47e9-977f-b070ed94df32",
      "lattitude": 17.27412,
      "longitude": 74.759931,
      "consumption": 3995,
      "reading": 354386,
      "customerName": "Etta Pratt",
      "customerId": 35,
      "customerAddress": "512 Garland Court, Wauhillau, Wisconsin, 1286",
      "meterType": "two"
  },
  {
      "deviceId": "2121a7c8-a42b-4706-b91d-6ccb4ddd86f3",
      "lattitude": 17.096109,
      "longitude": 74.240139,
      "consumption": 3263,
      "reading": 259986,
      "customerName": "Gill Frost",
      "customerId": 29,
      "customerAddress": "584 Ainslie Street, Rockhill, Idaho, 8346",
      "meterType": "three"
  },
  {
      "deviceId": "9c8e98eb-d4db-4eb4-9dab-ebb27ead27df",
      "lattitude": 17.175463,
      "longitude": 72.387866,
      "consumption": 2115,
      "reading": 256997,
      "customerName": "Lourdes Marshall",
      "customerId": 21,
      "customerAddress": "632 Harwood Place, Brule, Colorado, 1427",
      "meterType": "three"
  },
  {
      "deviceId": "b5d02e27-8145-43d1-9e77-1c27551e3520",
      "lattitude": 17.37151,
      "longitude": 73.015562,
      "consumption": 2535,
      "reading": 348539,
      "customerName": "Hardy Malone",
      "customerId": 29,
      "customerAddress": "346 Holmes Lane, Shawmut, American Samoa, 1613",
      "meterType": "two"
  },
  {
      "deviceId": "8cb59ef7-fb75-451f-91c4-3470e33b9dd5",
      "lattitude": 17.617959,
      "longitude": 72.391438,
      "consumption": 3672,
      "reading": 171287,
      "customerName": "Genevieve Wallace",
      "customerId": 35,
      "customerAddress": "235 Bliss Terrace, Blue, Tennessee, 9607",
      "meterType": "two"
  },
  {
      "deviceId": "01ba76fc-5725-41b7-81d2-315fab43f0bd",
      "lattitude": 17.749463,
      "longitude": 72.670268,
      "consumption": 3515,
      "reading": 323715,
      "customerName": "Leonard Munoz",
      "customerId": 21,
      "customerAddress": "298 Baycliff Terrace, Idamay, Mississippi, 1223",
      "meterType": "four"
  },
  {
      "deviceId": "f04c59ac-03b0-4827-b03f-e25c17d6a82b",
      "lattitude": 17.992595,
      "longitude": 73.286175,
      "consumption": 1095,
      "reading": 182038,
      "customerName": "Ortega Pierce",
      "customerId": 21,
      "customerAddress": "178 Madoc Avenue, Carlton, Hawaii, 6118",
      "meterType": "two"
  },
  {
      "deviceId": "ded170f4-be7a-4fca-a31a-cd0b0987878c",
      "lattitude": 17.93725,
      "longitude": 73.5891,
      "consumption": 3764,
      "reading": 205643,
      "customerName": "Denise Alford",
      "customerId": 29,
      "customerAddress": "913 Martense Street, Hardyville, District Of Columbia, 4340",
      "meterType": "two"
  },
  {
      "deviceId": "c32a766a-ee41-41bb-a904-876c7d1b57d5",
      "lattitude": 17.115593,
      "longitude": 73.899964,
      "consumption": 2130,
      "reading": 130052,
      "customerName": "Lewis Gordon",
      "customerId": 40,
      "customerAddress": "639 Lorimer Street, Bend, Texas, 5608",
      "meterType": "five"
  },
  {
      "deviceId": "66bab377-7221-4292-a0fc-abace3c10ed8",
      "lattitude": 17.374645,
      "longitude": 73.022264,
      "consumption": 2600,
      "reading": 253687,
      "customerName": "Levy Powers",
      "customerId": 36,
      "customerAddress": "672 Taylor Street, Norfolk, Michigan, 9679",
      "meterType": "five"
  },
  {
      "deviceId": "499b9628-55e7-4e7b-bb30-9fcb867be3ac",
      "lattitude": 17.610586,
      "longitude": 73.695011,
      "consumption": 2331,
      "reading": 136189,
      "customerName": "Harper Boone",
      "customerId": 30,
      "customerAddress": "978 Hamilton Walk, Hebron, Maryland, 1764",
      "meterType": "five"
  },
  {
      "deviceId": "adc53506-f0c5-4112-9fed-9db61ede29a3",
      "lattitude": 17.185597,
      "longitude": 72.166246,
      "consumption": 2542,
      "reading": 276376,
      "customerName": "Griffin Schmidt",
      "customerId": 34,
      "customerAddress": "334 Ditmas Avenue, Greensburg, Marshall Islands, 9838",
      "meterType": "three"
  },
  {
      "deviceId": "117cb9a0-ace1-4c50-a187-ac75842cc6cc",
      "lattitude": 17.857337,
      "longitude": 73.756165,
      "consumption": 3079,
      "reading": 337878,
      "customerName": "Jewell Massey",
      "customerId": 21,
      "customerAddress": "930 Lewis Avenue, Independence, Ohio, 494",
      "meterType": "five"
  },
  {
      "deviceId": "feb91e6b-131e-4a34-b469-4bba0ae28ab1",
      "lattitude": 17.987712,
      "longitude": 74.670741,
      "consumption": 2152,
      "reading": 224739,
      "customerName": "Jeannine Bryan",
      "customerId": 29,
      "customerAddress": "452 Moultrie Street, Alden, Alabama, 693",
      "meterType": "four"
  },
  {
      "deviceId": "6163cf2f-6bf9-49bb-9783-d340072261e3",
      "lattitude": 17.593531,
      "longitude": 73.647042,
      "consumption": 3575,
      "reading": 113170,
      "customerName": "Connie Herman",
      "customerId": 28,
      "customerAddress": "885 Moore Place, Wyano, Florida, 3034",
      "meterType": "four"
  },
  {
      "deviceId": "4852c57c-93ad-49f8-bcfd-8c742ae3207b",
      "lattitude": 17.05999,
      "longitude": 73.608425,
      "consumption": 3310,
      "reading": 359873,
      "customerName": "Shepard Harrison",
      "customerId": 34,
      "customerAddress": "751 Bogart Street, Wintersburg, Puerto Rico, 6862",
      "meterType": "three"
  },
  {
      "deviceId": "d2d6b376-cf1d-41e3-aaca-2d79fe710e9b",
      "lattitude": 17.336044,
      "longitude": 74.439515,
      "consumption": 1671,
      "reading": 170154,
      "customerName": "Noel Ford",
      "customerId": 36,
      "customerAddress": "371 Thatford Avenue, Harviell, New Mexico, 6794",
      "meterType": "one"
  },
  {
      "deviceId": "8f38c90d-491a-425f-be99-252ae9d23c35",
      "lattitude": 17.809794,
      "longitude": 74.553962,
      "consumption": 2486,
      "reading": 301731,
      "customerName": "Mccullough Lindsay",
      "customerId": 39,
      "customerAddress": "803 Love Lane, Jacksonwald, Pennsylvania, 8114",
      "meterType": "five"
  },
  {
      "deviceId": "ead7fc53-7acf-42d6-af0a-f84e357831c2",
      "lattitude": 17.872724,
      "longitude": 74.722121,
      "consumption": 1699,
      "reading": 293823,
      "customerName": "Carlene Crosby",
      "customerId": 32,
      "customerAddress": "456 Cheever Place, Bridgetown, New Jersey, 3833",
      "meterType": "three"
  },
  {
      "deviceId": "5cad97c6-50a9-4ad0-8453-17ed5699efdc",
      "lattitude": 17.729448,
      "longitude": 73.213078,
      "consumption": 2514,
      "reading": 330004,
      "customerName": "Gayle Galloway",
      "customerId": 29,
      "customerAddress": "176 Dumont Avenue, Goodville, New Hampshire, 7791",
      "meterType": "four"
  },
  {
      "deviceId": "ecf54817-4de5-45b7-8df8-188f0f26f5ad",
      "lattitude": 17.711982,
      "longitude": 72.082762,
      "consumption": 1835,
      "reading": 370366,
      "customerName": "Shannon Keller",
      "customerId": 33,
      "customerAddress": "171 Bassett Avenue, Leeper, Louisiana, 547",
      "meterType": "three"
  },
  {
      "deviceId": "14448216-3014-4ed0-8e3a-39be2254ddfe",
      "lattitude": 17.02271,
      "longitude": 72.402687,
      "consumption": 2449,
      "reading": 221457,
      "customerName": "Nina Nelson",
      "customerId": 31,
      "customerAddress": "601 Church Avenue, Bakersville, Rhode Island, 7831",
      "meterType": "four"
  },
  {
      "deviceId": "93f03a21-e555-4af6-8278-a8576e39b147",
      "lattitude": 17.463093,
      "longitude": 74.646656,
      "consumption": 1472,
      "reading": 210686,
      "customerName": "Marianne White",
      "customerId": 34,
      "customerAddress": "151 Havemeyer Street, Epworth, Alaska, 3705",
      "meterType": "three"
  },
  {
      "deviceId": "1c43a22a-269f-4b80-a79a-0d0049b80707",
      "lattitude": 17.536017,
      "longitude": 73.836167,
      "consumption": 3214,
      "reading": 272188,
      "customerName": "Richmond Vaughan",
      "customerId": 21,
      "customerAddress": "898 Stryker Court, Inkerman, Delaware, 174",
      "meterType": "five"
  },
  {
      "deviceId": "b9f673dc-d63b-48c9-a31e-5957373ce3d2",
      "lattitude": 17.497712,
      "longitude": 73.988608,
      "consumption": 2656,
      "reading": 383153,
      "customerName": "Guy Bernard",
      "customerId": 30,
      "customerAddress": "865 Gallatin Place, Haring, West Virginia, 9607",
      "meterType": "two"
  },
  {
      "deviceId": "e4e5f981-d730-4607-b8d0-4cd3301f3b77",
      "lattitude": 17.421943,
      "longitude": 72.090228,
      "consumption": 3657,
      "reading": 265784,
      "customerName": "Bird Day",
      "customerId": 26,
      "customerAddress": "799 Stillwell Place, Grenelefe, California, 9099",
      "meterType": "four"
  },
  {
      "deviceId": "2e37a122-2f39-4083-bc01-eb3abc70db67",
      "lattitude": 17.745045,
      "longitude": 73.303311,
      "consumption": 1828,
      "reading": 214446,
      "customerName": "Weber Barrett",
      "customerId": 28,
      "customerAddress": "948 Oakland Place, Fidelis, New York, 8580",
      "meterType": "one"
  },
  {
      "deviceId": "3079cce8-83b2-490b-bcb2-9f1efd4de90b",
      "lattitude": 17.063506,
      "longitude": 74.988895,
      "consumption": 2322,
      "reading": 145528,
      "customerName": "Pena Hughes",
      "customerId": 29,
      "customerAddress": "752 Furman Avenue, Silkworth, Kentucky, 5770",
      "meterType": "three"
  },
  {
      "deviceId": "087f418f-d96e-4c00-b733-0744f26c9e03",
      "lattitude": 17.709488,
      "longitude": 74.115004,
      "consumption": 1910,
      "reading": 222036,
      "customerName": "Margaret Sweet",
      "customerId": 27,
      "customerAddress": "842 Kosciusko Street, Forestburg, Kansas, 6728",
      "meterType": "three"
  },
  {
      "deviceId": "b14c0633-9d4d-485a-9417-1246de2aea3a",
      "lattitude": 17.14036,
      "longitude": 73.209633,
      "consumption": 1679,
      "reading": 359456,
      "customerName": "Stanton Mcmillan",
      "customerId": 24,
      "customerAddress": "228 Schenectady Avenue, Orason, Maine, 2654",
      "meterType": "four"
  },
  {
      "deviceId": "2a1bbc82-918c-4c30-a212-d0367abee398",
      "lattitude": 17.705569,
      "longitude": 73.384883,
      "consumption": 1302,
      "reading": 165901,
      "customerName": "Pauline Barnett",
      "customerId": 35,
      "customerAddress": "387 Gerritsen Avenue, Saticoy, Minnesota, 3162",
      "meterType": "three"
  },
  {
      "deviceId": "1651add3-c558-4f65-a0fa-cf5defe8baf2",
      "lattitude": 17.230275,
      "longitude": 72.482922,
      "consumption": 3833,
      "reading": 108251,
      "customerName": "Gay Wilkerson",
      "customerId": 36,
      "customerAddress": "688 McKibben Street, Darlington, Northern Mariana Islands, 6308",
      "meterType": "three"
  },
  {
      "deviceId": "ce75509d-598f-4e4a-95be-de34c11df5a9",
      "lattitude": 17.171537,
      "longitude": 74.964961,
      "consumption": 1590,
      "reading": 358805,
      "customerName": "Reeves Snider",
      "customerId": 20,
      "customerAddress": "801 Village Court, Conway, Washington, 3009",
      "meterType": "four"
  },
  {
      "deviceId": "5005f894-a112-475c-b98a-14f86e975931",
      "lattitude": 17.108798,
      "longitude": 72.585007,
      "consumption": 2189,
      "reading": 196404,
      "customerName": "Estelle Bennett",
      "customerId": 33,
      "customerAddress": "188 Lincoln Road, Ada, Arkansas, 6518",
      "meterType": "four"
  },
  {
      "deviceId": "088be6b8-4e79-468f-a1a0-9c042e15c05b",
      "lattitude": 17.353461,
      "longitude": 73.54513,
      "consumption": 3090,
      "reading": 177141,
      "customerName": "Nash Silva",
      "customerId": 21,
      "customerAddress": "837 Claver Place, Barclay, Vermont, 8378",
      "meterType": "two"
  },
  {
      "deviceId": "8676819a-e058-4e74-b613-5531a29d87a7",
      "lattitude": 17.821907,
      "longitude": 72.290803,
      "consumption": 2811,
      "reading": 165621,
      "customerName": "Mia Huber",
      "customerId": 37,
      "customerAddress": "858 Ridgewood Place, Bancroft, Illinois, 3338",
      "meterType": "four"
  },
  {
      "deviceId": "b8104386-067c-4cb0-888e-fd1de112c0b7",
      "lattitude": 17.950534,
      "longitude": 74.011343,
      "consumption": 1872,
      "reading": 302673,
      "customerName": "May Serrano",
      "customerId": 30,
      "customerAddress": "730 Graham Avenue, Kanauga, Arizona, 6059",
      "meterType": "three"
  },
  {
      "deviceId": "2dc84520-2435-4934-87e9-821b6a655d2a",
      "lattitude": 17.672942,
      "longitude": 72.543069,
      "consumption": 2961,
      "reading": 167622,
      "customerName": "Sheree Nash",
      "customerId": 38,
      "customerAddress": "263 Vanderveer Place, Morgandale, Oregon, 8169",
      "meterType": "two"
  },
  {
      "deviceId": "6f2824e9-8aca-419c-a17a-71f6a4e66c63",
      "lattitude": 17.753165,
      "longitude": 72.396351,
      "consumption": 3286,
      "reading": 177628,
      "customerName": "Robert Perez",
      "customerId": 26,
      "customerAddress": "146 Vandervoort Avenue, Franklin, South Dakota, 5432",
      "meterType": "five"
  },
  {
      "deviceId": "de4438b0-8750-42ef-b2a1-66cd584f1ecc",
      "lattitude": 17.159669,
      "longitude": 73.89611,
      "consumption": 2601,
      "reading": 135534,
      "customerName": "Vera Love",
      "customerId": 40,
      "customerAddress": "213 Poly Place, Watchtower, South Carolina, 4871",
      "meterType": "five"
  },
  {
      "deviceId": "cfbb26e7-0c4a-46b4-a47a-c6387be1149b",
      "lattitude": 17.337108,
      "longitude": 73.306301,
      "consumption": 2444,
      "reading": 111241,
      "customerName": "Wanda Griffith",
      "customerId": 30,
      "customerAddress": "322 Fleet Walk, Roland, Federated States Of Micronesia, 9438",
      "meterType": "five"
  },
  {
      "deviceId": "435fc8ea-4178-455f-bcce-64de0a0dd5ae",
      "lattitude": 17.712791,
      "longitude": 74.645577,
      "consumption": 3399,
      "reading": 109701,
      "customerName": "Britt Wilkins",
      "customerId": 33,
      "customerAddress": "136 Kings Place, Bergoo, Missouri, 6934",
      "meterType": "four"
  },
  {
      "deviceId": "d5951da8-78ee-4ebe-8cda-5d3593685007",
      "lattitude": 17.188598,
      "longitude": 74.128113,
      "consumption": 3591,
      "reading": 217935,
      "customerName": "Le Burton",
      "customerId": 26,
      "customerAddress": "821 Vista Place, Talpa, Oklahoma, 1997",
      "meterType": "five"
  },
  {
      "deviceId": "617afcbe-b100-4b5f-99ba-c5ec9bf5afa2",
      "lattitude": 17.445737,
      "longitude": 72.156331,
      "consumption": 1635,
      "reading": 311839,
      "customerName": "Tanisha Soto",
      "customerId": 20,
      "customerAddress": "298 School Lane, Elliston, Connecticut, 3672",
      "meterType": "three"
  },
  {
      "deviceId": "1294b75b-16d9-427b-907f-8addfd904f46",
      "lattitude": 17.088925,
      "longitude": 72.790327,
      "consumption": 3474,
      "reading": 139705,
      "customerName": "Phyllis Lawson",
      "customerId": 29,
      "customerAddress": "785 Roder Avenue, Escondida, Nevada, 8417",
      "meterType": "five"
  },
  {
      "deviceId": "fc0d6b83-e1f6-43a9-b768-1f3b55597d10",
      "lattitude": 17.103434,
      "longitude": 72.273233,
      "consumption": 3519,
      "reading": 265064,
      "customerName": "Blair Howard",
      "customerId": 33,
      "customerAddress": "450 Langham Street, Accoville, Palau, 6771",
      "meterType": "four"
  },
  {
      "deviceId": "94c2377b-664b-4ffb-8c2a-71432169d694",
      "lattitude": 17.189368,
      "longitude": 74.27997,
      "consumption": 3102,
      "reading": 269087,
      "customerName": "Stephens Weaver",
      "customerId": 38,
      "customerAddress": "433 Mill Lane, Darrtown, Virginia, 220",
      "meterType": "two"
  },
  {
      "deviceId": "91b38750-3f86-4324-bac1-a56d08bb6432",
      "lattitude": 17.086093,
      "longitude": 73.751759,
      "consumption": 3222,
      "reading": 340454,
      "customerName": "Marcie Robertson",
      "customerId": 33,
      "customerAddress": "138 Mayfair Drive, Makena, North Carolina, 738",
      "meterType": "two"
  },
  {
      "deviceId": "5d3fa8d0-8ac2-4d34-b40a-9d3d7d74022a",
      "lattitude": 17.269964,
      "longitude": 74.546224,
      "consumption": 2855,
      "reading": 234573,
      "customerName": "Weaver Lopez",
      "customerId": 36,
      "customerAddress": "791 Jaffray Street, Tyro, Guam, 8782",
      "meterType": "two"
  },
  {
      "deviceId": "8a8586ca-02ec-4254-bedf-a7e96f0c1f6a",
      "lattitude": 17.945893,
      "longitude": 74.561252,
      "consumption": 1701,
      "reading": 344891,
      "customerName": "Rodriquez Monroe",
      "customerId": 30,
      "customerAddress": "191 Goodwin Place, Castleton, Montana, 7828",
      "meterType": "four"
  },
  {
      "deviceId": "3dd34755-516f-411b-9611-bdfb418b4d5c",
      "lattitude": 17.107784,
      "longitude": 74.819502,
      "consumption": 1302,
      "reading": 260013,
      "customerName": "Davidson Rocha",
      "customerId": 36,
      "customerAddress": "495 Cooke Court, Why, Massachusetts, 5690",
      "meterType": "five"
  },
  {
      "deviceId": "ae770e1a-6852-4f2f-989f-b2e75250626f",
      "lattitude": 17.911043,
      "longitude": 72.664837,
      "consumption": 2894,
      "reading": 204311,
      "customerName": "Atkins Kane",
      "customerId": 40,
      "customerAddress": "594 Windsor Place, Roy, Georgia, 7267",
      "meterType": "four"
  },
  {
      "deviceId": "00a9d969-a97e-4e82-92a4-1b703959d302",
      "lattitude": 17.503382,
      "longitude": 73.541442,
      "consumption": 2141,
      "reading": 343488,
      "customerName": "Acosta Short",
      "customerId": 21,
      "customerAddress": "909 Fiske Place, Bangor, Virgin Islands, 4357",
      "meterType": "two"
  },
  {
      "deviceId": "8c74a1e2-5543-43e7-84fd-101b41e0ff5a",
      "lattitude": 17.562237,
      "longitude": 73.650192,
      "consumption": 1274,
      "reading": 315981,
      "customerName": "Stewart Wilson",
      "customerId": 24,
      "customerAddress": "244 Gunnison Court, Levant, Wyoming, 1673",
      "meterType": "two"
  },
  {
      "deviceId": "444311c8-75f1-4d4b-97ea-3ce3bfc0ff32",
      "lattitude": 17.060509,
      "longitude": 73.406771,
      "consumption": 2868,
      "reading": 334207,
      "customerName": "Carney Hess",
      "customerId": 24,
      "customerAddress": "772 Tompkins Place, Torboy, North Dakota, 8470",
      "meterType": "five"
  },
  {
      "deviceId": "1847276f-3d7a-4617-884c-4455d4a70e62",
      "lattitude": 17.737962,
      "longitude": 72.04513,
      "consumption": 2719,
      "reading": 203633,
      "customerName": "Geneva Robbins",
      "customerId": 30,
      "customerAddress": "582 Sutton Street, Ruckersville, Iowa, 1695",
      "meterType": "two"
  },
  {
      "deviceId": "0889ee4f-79d0-4a04-aba7-b867ffce4973",
      "lattitude": 17.063825,
      "longitude": 74.543088,
      "consumption": 1736,
      "reading": 314617,
      "customerName": "Sherman Meyer",
      "customerId": 25,
      "customerAddress": "625 Erasmus Street, Whitestone, Utah, 2537",
      "meterType": "one"
  },
  {
      "deviceId": "00fdbac7-f761-41c4-b8bb-32766f47c2bb",
      "lattitude": 17.592738,
      "longitude": 72.342148,
      "consumption": 1865,
      "reading": 275590,
      "customerName": "Bender Fischer",
      "customerId": 31,
      "customerAddress": "305 Cozine Avenue, Galesville, Indiana, 2967",
      "meterType": "two"
  },
  {
      "deviceId": "f7265156-8e0f-4d6d-b444-af9fb12eada0",
      "lattitude": 17.650086,
      "longitude": 72.823595,
      "consumption": 1199,
      "reading": 310531,
      "customerName": "Deloris Mason",
      "customerId": 40,
      "customerAddress": "770 Pilling Street, Dodge, Wisconsin, 5765",
      "meterType": "one"
  },
  {
      "deviceId": "2c13e836-bbda-47af-8d26-561f9096af27",
      "lattitude": 17.955903,
      "longitude": 74.37696,
      "consumption": 2334,
      "reading": 355542,
      "customerName": "Kari Bowen",
      "customerId": 28,
      "customerAddress": "279 Milford Street, Finzel, Idaho, 2326",
      "meterType": "four"
  },
  {
      "deviceId": "5630d9ea-292d-478d-8441-bd8509e6ab53",
      "lattitude": 17.517529,
      "longitude": 74.788957,
      "consumption": 3583,
      "reading": 309815,
      "customerName": "Sears Byers",
      "customerId": 26,
      "customerAddress": "452 Hendrickson Place, Vallonia, Colorado, 8358",
      "meterType": "one"
  },
  {
      "deviceId": "66dfad34-dac1-4b0d-9d4b-18a7692af13a",
      "lattitude": 17.261224,
      "longitude": 74.573112,
      "consumption": 3320,
      "reading": 256178,
      "customerName": "Gregory Riddle",
      "customerId": 31,
      "customerAddress": "331 Utica Avenue, Harleigh, American Samoa, 9434",
      "meterType": "two"
  },
  {
      "deviceId": "f01913ec-a6a6-4e58-abf1-5d6ead405c4f",
      "lattitude": 17.906469,
      "longitude": 74.125898,
      "consumption": 3521,
      "reading": 134734,
      "customerName": "Mandy James",
      "customerId": 31,
      "customerAddress": "598 Abbey Court, Kerby, Tennessee, 1127",
      "meterType": "two"
  },
  {
      "deviceId": "74482f28-4a06-40a1-ab6f-db1c7b7b84e5",
      "lattitude": 17.537434,
      "longitude": 74.632675,
      "consumption": 2625,
      "reading": 111742,
      "customerName": "Woodard Guy",
      "customerId": 24,
      "customerAddress": "184 Porter Avenue, Hayden, Mississippi, 4432",
      "meterType": "one"
  },
  {
      "deviceId": "03c17c53-9dd1-4f44-b6f5-ae780dd6b5cf",
      "lattitude": 17.982612,
      "longitude": 74.149345,
      "consumption": 2231,
      "reading": 146620,
      "customerName": "Boyd Miranda",
      "customerId": 34,
      "customerAddress": "533 Prospect Avenue, Loma, Hawaii, 1347",
      "meterType": "two"
  },
  {
      "deviceId": "479a25e8-c0b4-4c8f-b03a-2248423cc1fe",
      "lattitude": 17.119112,
      "longitude": 74.773901,
      "consumption": 1543,
      "reading": 331868,
      "customerName": "Beulah Sims",
      "customerId": 37,
      "customerAddress": "504 Village Road, Fairacres, District Of Columbia, 5162",
      "meterType": "five"
  },
  {
      "deviceId": "8420c72f-65b6-4e6d-b9b3-267308590a04",
      "lattitude": 17.194464,
      "longitude": 73.940656,
      "consumption": 1703,
      "reading": 332037,
      "customerName": "Trujillo Long",
      "customerId": 32,
      "customerAddress": "302 Herbert Street, Coral, Texas, 5160",
      "meterType": "four"
  },
  {
      "deviceId": "f0aadb58-1237-49a9-8b52-1b8beee55357",
      "lattitude": 17.3021,
      "longitude": 73.244737,
      "consumption": 3584,
      "reading": 143831,
      "customerName": "Marla Freeman",
      "customerId": 22,
      "customerAddress": "495 Kermit Place, Frierson, Michigan, 9050",
      "meterType": "two"
  },
  {
      "deviceId": "d12e3ad5-cea4-461b-abcb-85d26b8b72d2",
      "lattitude": 17.20167,
      "longitude": 73.228124,
      "consumption": 2483,
      "reading": 364723,
      "customerName": "Claudette Stein",
      "customerId": 35,
      "customerAddress": "406 Jamison Lane, Graniteville, Maryland, 5591",
      "meterType": "four"
  },
  {
      "deviceId": "4b97134b-6f32-4a4a-a8aa-f44d35db4a4c",
      "lattitude": 17.386151,
      "longitude": 74.522609,
      "consumption": 2737,
      "reading": 217230,
      "customerName": "Minnie Huff",
      "customerId": 34,
      "customerAddress": "521 Adams Street, Lumberton, Marshall Islands, 8935",
      "meterType": "three"
  },
  {
      "deviceId": "92f3ceab-1a29-47fb-80c7-a014d6449765",
      "lattitude": 17.886767,
      "longitude": 72.135737,
      "consumption": 1087,
      "reading": 329041,
      "customerName": "Mcdonald Ashley",
      "customerId": 38,
      "customerAddress": "425 Narrows Avenue, Keyport, Ohio, 8279",
      "meterType": "three"
  },
  {
      "deviceId": "7e5d5b8e-09c6-4a60-940a-b46671eb7545",
      "lattitude": 17.377347,
      "longitude": 73.934113,
      "consumption": 2665,
      "reading": 281123,
      "customerName": "Millicent Black",
      "customerId": 31,
      "customerAddress": "447 Regent Place, Bradenville, Alabama, 8958",
      "meterType": "one"
  },
  {
      "deviceId": "4764ca0c-9147-4c08-b498-56364638a4bb",
      "lattitude": 17.117732,
      "longitude": 73.944092,
      "consumption": 1977,
      "reading": 185880,
      "customerName": "Nettie Santos",
      "customerId": 24,
      "customerAddress": "673 Roosevelt Place, Murillo, Florida, 8422",
      "meterType": "two"
  },
  {
      "deviceId": "04b7b076-aa06-4de2-b970-ece91f0cd2d6",
      "lattitude": 17.562392,
      "longitude": 73.451015,
      "consumption": 3398,
      "reading": 378167,
      "customerName": "Whitehead Holcomb",
      "customerId": 35,
      "customerAddress": "143 Vermont Court, Yardville, Puerto Rico, 2638",
      "meterType": "five"
  },
  {
      "deviceId": "535bfc18-27f7-458e-b126-e4088933779d",
      "lattitude": 17.185699,
      "longitude": 72.077943,
      "consumption": 2814,
      "reading": 392702,
      "customerName": "Parsons Shaffer",
      "customerId": 34,
      "customerAddress": "112 Holt Court, Gordon, New Mexico, 2136",
      "meterType": "one"
  },
  {
      "deviceId": "9b8e9adc-7f07-4ccb-b359-287fe8983391",
      "lattitude": 17.890207,
      "longitude": 74.491882,
      "consumption": 2049,
      "reading": 172512,
      "customerName": "Juana Mays",
      "customerId": 22,
      "customerAddress": "457 Walker Court, Jessie, Pennsylvania, 5562",
      "meterType": "four"
  },
  {
      "deviceId": "7f526420-ca10-46e8-9004-2e211498db5b",
      "lattitude": 17.491813,
      "longitude": 73.454759,
      "consumption": 1869,
      "reading": 323622,
      "customerName": "Wynn Gates",
      "customerId": 30,
      "customerAddress": "801 Suydam Street, Dargan, New Jersey, 3994",
      "meterType": "three"
  },
  {
      "deviceId": "4e18240c-0ac4-4649-8363-8ee5d493e5e1",
      "lattitude": 17.333612,
      "longitude": 72.60359,
      "consumption": 3983,
      "reading": 194755,
      "customerName": "Serena Ingram",
      "customerId": 30,
      "customerAddress": "605 Onderdonk Avenue, Odessa, New Hampshire, 1057",
      "meterType": "two"
  },
  {
      "deviceId": "4776f59e-4039-407f-87f6-bcb49cac5bab",
      "lattitude": 17.94275,
      "longitude": 74.475307,
      "consumption": 1630,
      "reading": 152444,
      "customerName": "Fay Phelps",
      "customerId": 26,
      "customerAddress": "573 Locust Street, Leola, Louisiana, 6428",
      "meterType": "three"
  },
  {
      "deviceId": "18be4479-a264-4135-bf7d-6ca888e07f43",
      "lattitude": 17.232292,
      "longitude": 73.244561,
      "consumption": 1854,
      "reading": 102332,
      "customerName": "Meredith Morales",
      "customerId": 36,
      "customerAddress": "299 Sedgwick Place, Edgar, Rhode Island, 9310",
      "meterType": "three"
  },
  {
      "deviceId": "eb5cc733-12c7-4549-90a4-b9dba78e1116",
      "lattitude": 17.421614,
      "longitude": 73.886181,
      "consumption": 1275,
      "reading": 249644,
      "customerName": "Lesa Molina",
      "customerId": 25,
      "customerAddress": "678 Johnson Avenue, Takilma, Alaska, 4557",
      "meterType": "one"
  },
  {
      "deviceId": "ab8c5fd4-37ed-4e0e-a6d9-8e90f3b4a6a4",
      "lattitude": 17.38196,
      "longitude": 73.021515,
      "consumption": 3351,
      "reading": 306105,
      "customerName": "Guadalupe Atkinson",
      "customerId": 40,
      "customerAddress": "399 Amherst Street, Waumandee, Delaware, 804",
      "meterType": "three"
  },
  {
      "deviceId": "9c8d7e21-e827-4f86-b5fa-0103163857fa",
      "lattitude": 17.355977,
      "longitude": 72.195352,
      "consumption": 1687,
      "reading": 378006,
      "customerName": "Kara Morse",
      "customerId": 32,
      "customerAddress": "822 Emmons Avenue, Muir, West Virginia, 6391",
      "meterType": "one"
  },
  {
      "deviceId": "fbef8d5b-f788-438f-ad46-f90e34549fc7",
      "lattitude": 17.410359,
      "longitude": 74.501639,
      "consumption": 1517,
      "reading": 241954,
      "customerName": "Kathrine Santana",
      "customerId": 38,
      "customerAddress": "763 Commercial Street, Healy, California, 3516",
      "meterType": "five"
  },
  {
      "deviceId": "a6ea6247-fe4f-433f-859e-0d6ddedcdbf1",
      "lattitude": 17.479077,
      "longitude": 74.517235,
      "consumption": 1631,
      "reading": 192773,
      "customerName": "Harris Key",
      "customerId": 38,
      "customerAddress": "217 Crooke Avenue, Falconaire, New York, 1906",
      "meterType": "three"
  },
  {
      "deviceId": "35f785d3-566f-4bde-b27d-883f02e6f90f",
      "lattitude": 17.816751,
      "longitude": 72.611991,
      "consumption": 2541,
      "reading": 395829,
      "customerName": "Macdonald Fry",
      "customerId": 30,
      "customerAddress": "828 Irving Avenue, Tivoli, Kentucky, 4558",
      "meterType": "three"
  },
  {
      "deviceId": "77046806-b2a7-47cb-bfef-8819f1ba0da2",
      "lattitude": 17.222156,
      "longitude": 73.943334,
      "consumption": 3094,
      "reading": 374517,
      "customerName": "Wilkinson Hawkins",
      "customerId": 21,
      "customerAddress": "389 Overbaugh Place, Groveville, Kansas, 296",
      "meterType": "three"
  }
                ]
                   data = data.concat(stat)
                var opt = {
                    "legend": {
                        "1": "#FF0066",
                        "2": "#FF9933",
                    }
                };
                var markers = [];
                for (var i = 0; i < data.length; i++) {

                    var accident_LatLng = new google.maps.LatLng(Number(data[i].lattitude), Number(data[i].longitude));
                    var marker = new google.maps.Marker({
                        position: accident_LatLng,
                        title: data[i].meterType,
                        label: {
                            text: data[i].consumption + " Kah",
                            fontWeight: "2px"
                        }
                    });
                    marker['infowindow'] = new google.maps.InfoWindow({
                        content: 'asdhl'
                    });
                    google.maps.event.addListener(marker, 'mouseover', function () {
                        this['infowindow'].open(map, this);
                    });
                    google.maps.event.addListener(marker, 'mouseout', function () {
                        this['infowindow'].close(map, this);
                    });
                    markers.push(marker);
                }

                var markerCluster = new MarkerClusterer(map, markers, opt);
                google.maps.event.addListener(markerCluster, 'clusterclick', function (cluster) {
                    console.log(cluster.getBounds().toJSON())
                    var bounds = cluster.getBounds().toJSON();
                    var returnedData = $.grep(data, function (element, index) {
                        return element.lattitude >= bounds.south && element.lattitude <= bounds.north && element.longitude >= bounds.west && element.longitude <= bounds.east;
                    });
                    console.log(returnedData)
                    createGrid(returnedData);
                });
            }


            google.load("visualization", "1", { packages: ["corechart"], callback: initialize });
            function createGrid(new_grid) {
                $("#customers-grid").kendoGrid({
                    dataSource: {
                        data: new_grid,
                        schema: {
                            model: {
                                fields: {
                                    customerId: { type: "bool" },
                                    customerName: { type: "bool" },
                                    customerAddress: { type: "string" },
                                    deviceId: { type: "bool" },
                                    meterType: { type: "string" },
                                    consumption: { type: "string" },
                                    reading: { type: "string" }

                                }
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: false,
                        serverFiltering: false,
                        serverSorting: false,
                        pageSize: 20
                    },
                    pageable: {
                        refresh: true,
                        pageSizes: 20,
                    },
                    scrollable: true,
                    sortable: true,
                    filterable: false,
                    columns: [
                        {
                            field: "customerName",
                            title: "Customer Name",
                            template: '<a href="Dashboard?customerid=#= customerId#">#= customerName #</a>',
                            attributes: { style: "text-align:center" },
                            width: 300
                        },
                        {
                            field: "customerAddress",
                            title: "Address",
                            template: '#= customerAddress #',
                            attributes: { style: "text-align:center" },
                            width: 300
                        },
                        {
                            field: "deviceId",
                            title: "Device ID",
                            template: '#= deviceId #',
                            attributes: { style: "text-align:center" },
                            width: 300
                        },
                        {
                            field: "consumption",
                            title: "Consumption",
                            template: '#= consumption #',
                            attributes: { style: "text-align:center" },
                            width: 300
                        },
                        {
                            field: "reading",
                            title: "Reading",
                            template: '#= reading #',
                            attributes: { style: "text-align:center" },
                            width: 300
                        },
                        {
                            field: "meterType",
                            title: "Meter Type",
                            template: '#= meterType #',
                            attributes: { style: "text-align:center" },
                            width: 300
                        },




                    ]
                });
            }
        </script>
    </div>
}
