

    @using Nop.Web.Models.Customer;
    @using Nop.Core;
    @model System.Collections.Generic.List<CustomerMetersModel>
    @{
        Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

        //title
        Html.AddTitleParts("My Account-My Meters");
        //page class
        Html.AppendPageCssClassParts("html-account-page");
        Html.AppendPageCssClassParts("html-customer-info-page");
        Html.AppendCssFileParts("~/Administration/Content/bootstrap/css/bootstrap.min.css");
        Html.AppendCssFileParts("~/Administration/Content/adminLTE/AdminLTE-2.3.0.min.css");
        Html.AppendScriptParts("~/Administration/Scripts/bootstrap/bootstrap.min.js");
        var Meterlist = @Model;
    }
    @section left
{
        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
    }
    
    @*@Html.DropDownListFor(x => x, Meterlist, new { @id = "MeterList" });*@
    @*@Html.Hidden("MeterList", Meterlist, new { @id = "MeterList" });*@
    @*
        <script>
              $(".page-body").append("<ul></ul>");
              for (var i in model) {
                  var li = "<li>";
                  $("ul").append(li.concat(arr[i]))
              }
        </script>*@
                                              <div class="page account-page customer-info-page">
                                                  <div class="page-title">
                                                      <h1>My Account - My Meters</h1>
                                                  </div>
                                                  <div class="page-body">
                                                 
                                                      @using (Html.BeginForm())
                                                      {
                                                          @Html.AntiForgeryToken()
                                                          var validationSummary = Html.ValidationSummary(true);
                                                          if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                                          {
                                                              <div class="message-error">@validationSummary</div>
                                                          }
                                                         
                                                            <div class="panel panel-default">
                                                              <div class="panel-body">
                                                                  <div id="products-grid"></div>

                                                                  <script>
    var arrayOfArrays = JSON.parse('@Html.Raw(Json.Encode(Model))');
    console.log(arrayOfArrays)
    $("#products-grid").kendoGrid({
        dataSource: {
            data: arrayOfArrays,
            schema: {
                model: {
                    fields: {
                        status: { type: "bool" },
                        MeterId: { type: "string" },
                        IsBillPaid: { type: "bool" }
                    }
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true,
            pageSize: 20
        },
        pageable: {
            input: true,
            numeric: false
        },
        scrollable: false,
        sortable: true,
        filterable: true,
        columns: [
            {
                field: "MeterId",
                title: "Device Id",
                template: '<a href="CustomerMeterDetails/' + '#= MeterId #' + '">' + '#= MeterId #' + '</a>',
                //template:'#= MeterId #',
                attributes: { style: "text-align:center" },
                width: 300
            },
                                    {
                                        field: "IsBillPaid",
                                        title: "Payment",
                                        template: '# if(IsBillPaid) {# <span class="label label-success">Active</span> #} else {# <span class="label label-danger">Inactive</span>#} #',
                                        attributes: { style: "text-align:center" },
                                        width: 300
                                    },
                                    {
                                        field: "status",
                                        title: "Status",
                                        template: '# if(Status) {# <span class="label label-success">Active</span> #} else {# <span class="label label-danger">Inactive</span>#} #',
                                        attributes: { style: "text-align:center" },
                                        width: 300
                                    },

        ]
    });
    //});
                                                                  </script>
                                                              </div>
                                                          </div>
                                                      }

                                                  </div>
                                              </div>
  