*.suo
*.user
*.cache
*.txt
*.pdp
*.force
/Tests/Nop.Web.MVC.Tests/bin/**/*
/Presentation/Nop.Web/Administration/obj/
Presentation/Nop.Web/Plugins/**/*
/Presentation/Nop.Web/Content/Images/uploaded/
/Presentation/Nop.Web/Content/Images/Thumbs/
/Presentation/Nop.Web/App_Data/Settings.txt
/Presentation/Nop.Web/App_Data/InstalledPlugins.txt
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/build/

